*{
    color: black;
    margin: 0px;
    padding: 0px;
}

button {
    border: none;
    margin: none;
}

.text {
    font-size: calc(.9dvh + 0.9dvw);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.small-text {
    font-size: calc(0.65dvh + 0.65dvw);
}

.title-text {
    font-size: calc(2dvh + 1dvw);
    font-weight: bold;
}

.flexyboxy {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 5dvw;
    row-gap: 1dvh;
}

.flexyobjecty {
    background-color: white;
    width: 20dvw;
}

.projects {
    color: black;
    padding: 1dvh;
}

.projectphoto {
    object-fit: cover;
    width: 20dvw;
    height: 12dvw;
    border-radius: .2cqw;
    outline: 0.1dvw solid black;
    outline-offset: -0.1dvw;
    transition: outline 0.1s ease-in-out, outline-offset 0.1s ease-in-out;
}

.flexyobjecty:hover .projectphoto {
    outline: 0.65dvw solid black;
    outline-offset: -0.65dvw;
}

.header {
    background-color: black;
    padding: 1dvh;
}

.header-text {
    color: white;
}

.current-projects {
    width: 50%;
    margin: auto;
}

.past-projects {
    width: 75%;
    margin: auto;
}

@media (aspect-ratio <= 0.75) {
    .past-projects {
        width: 100%;
    }

    .current-projects {
        width: 100%;
    }

    .flexyobjecty {
        width: 80%;
    }

    .projectphoto {
        width: 80dvw;
        height: 48dvw;
        border-radius: .2cqw;
    }

}